body{
    background-color: aliceblue;
}

h1 {
    text-align: center;
    background-color: aliceblue;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    text-align: center;
    text-decoration: dashed;
}

#campoUser{
    position: relative; left: 30% ;
}

#campoPass{
    position: relative; left: 30% ;
}

#botonIngresar{
    position: absolute; right: 29.5%;
}