#orgNombre{
    text-align: center;
}

#orgDesc{
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.datos{
    background-color: lavender;
    border-radius: 15px 15px 15px 15px;
    width: 50%;
    position: relative; left: 25%;
}

#info{
    font-size: 25px;
    text-align: center;
    font-style: oblique;
}