<!DOCTYPE html>
<html lang="es">
<head>

<title>GeSoc - Detalle del Egreso</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<link href="../public/bootstrap.min.css" rel="stylesheet">
<link href="../public/css/main.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../public/bootstrap.min.js"></script>
<script src="../public/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/egreso">Egresos <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/ingreso">Ingresos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/presupuesto">Presupuesto</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/vinculador">Vinculador</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login" onclick="logout()">Logout</a>
							</li>
						</ul>
					</div>
				</nav>
				<br>
				<h1>GeSoc</h1>
				<br>
				<h2>Detalle del Egreso</h2>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Nombre</label>
							<div class="col-sm-8">
								<p>{{egreso.nombre}}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Proveedor</label>
							<div class="col-sm-8">
								<p>{{egreso.proveedor.nombre}}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Entidad</label>
							<div class="col-sm-8">
								<p>{{nombreEntidad}}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Items</label>
							<div id="divItems" class="col-sm-8" >

							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Descripcion Medio de Pago</label>
							<div class="col-sm-8">
								<p>{{egreso.medioDePago.identificador}}</p>
							</div>
							<label class="col-sm-4 col-form-label"> Tipo Medio de Pago</label>
							<div class="col-sm-8">
								<p>{{egreso.medioDePago.tipo}}</p>
							</div>
							<label class="col-sm-4 col-form-label">Numero Medio de Pago</label>
							<div class="col-sm-8">
								<p>{{egreso.medioDePago.numero}}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Categorias</label>
							<div class="col-sm-8">
								<p id="categorias"></p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Precio</label>
							<div class="col-sm-8">
								<p>{{egreso.precioTotal}}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Fecha</label>
							<div class="col-sm-8">
								<p>{{egreso.fecha}}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Estado</label>
							<div class="col-sm-8">
								{{#if egreso.vinculado}}
									<p>Vinculado</p>
								{{else}}
									<p>No vinculado</p>
								{{/if}}
							</div>
						</div>
						<h5>Presupuesto</h5>
						<div class="form-group row">
							{{#if egreso.presupuesto}}
								<label class="col-sm-4 col-form-label">Nombre</label>
								<div class="col-sm-8">
									<p>{{egreso.presupuesto.nombre}}</p>
								</div>

								<label class="col-sm-4 col-form-label">Proveedor</label>
								<div class="col-sm-8">
									<p>{{egreso.presupuesto.proveedor.nombre}}</p>
								</div>

								<label class="col-sm-4 col-form-label">Precio</label>
								<div class="col-sm-8">
									<p>{{egreso.presupuesto.precioTotal}}</p>
								</div>

								<label class="col-sm-4 col-form-label">Items</label>
								<div id="divItemsPresupuesto" class="col-sm-8" >

								</div>

								<label class="col-sm-4 col-form-label">Categorias</label>
								<div class="col-sm-8">
									<p id="categoriasPresupuesto"></p>
								</div>
							{{else}}
								<p style="padding-left: 50px;">No tiene un presupuesto asociado</p>
							{{/if}}
						</div>
						<a href="/egreso" class="btn btn-default">Volver</a>
						</div>
					</div>
				</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			var textoCategorias = document.getElementById("categorias");
			textoCategorias.textContent = {{{categoriasEgreso}}}.join(", ");

			{{#if egreso.presupuesto}}
				var textoCategoriasPresupuesto = document.getElementById("categoriasPresupuesto");
				textoCategoriasPresupuesto.textContent = {{{categoriasPresupuesto}}}.join(", ");
			{{/if}}

			//Items egreso
			var listaItems = document.getElementById("divItems");
			{{#each egreso.items}}
				var div = listaItems.appendChild(document.createElement("div"));
				var labelItem = div.appendChild(document.createElement("label"));
				var numero = div.appendChild(document.createElement("p"));

				div.style = "display: flex;";
				labelItem.textContent = "{{{itemEgreso.descripcion}}}";
				labelItem.style = "width: 200px;";
				numero.textContent = "Cantidad: {{{cantidad}}}";
			{{/each}}

			//Items presupuesto
			{{#if egreso.presupuesto}}
				var listaItems = document.getElementById("divItemsPresupuesto");
				{{#each egreso.presupuesto.items}}
					var divP = listaItems.appendChild(document.createElement("div"));
					var labelItemP = div.appendChild(document.createElement("label"));
					var numeroP = div.appendChild(document.createElement("p"));

					divP.style = "display: flex;";
					labelItemP.textContent = "{{{itemPresupuesto.categoria}}}";
					labelItemP.style = "width: 200px;";
					numeroP.textContent = "Cantidad: {{{cantidad}}}";
				{{/each}}
			{{/if}}
		})

		function logout(){
			$.ajax({
				url: "/logout",
				type: "POST",
				success: function(result){
					location.replace("/login");
				}
			})
		}

	</script>
</body>
</html>