<!DOCTYPE html>
<html lang="es">
<head>

<title>GeSoc - Egresos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link href="public/bootstrap.min.css" rel="stylesheet">
<link href="public/css/main.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="public/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#">Egresos <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/ingreso">Ingresos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/presupuesto">Presupuesto</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/vinculador">Vinculador</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login" onclick="logout()">Logout</a>
							</li>
						</ul>
					</div>
				</nav>
				<br>
				<h1>GeSoc</h1>
				<br>
				<h2>Egresos</h2>
				<div class="float-right">
					<input type="text" placeholder="buscar egreso" type="text" id="filtroCodigo"onkeyup="filter(this)"/>
					<a href="/nuevo_egreso" class="btn btn-outline-primary">Crear Egreso</a>
				</div>
				<table id="tablaEgresos" >
					<thead>
						<tr>
							<th>Egreso</th>
							<th>Proveedor</th>
							<th>Entidad</th>
							<th>Fecha</th>
							<th>Monto</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{{#each egresos}}
						<tr>
							<td id="egresoNombre">{{egreso.nombre}}</td>
							<td id="egresoProveedor">{{egreso.proveedor.nombre}}</td>
							<td id="egresoEntidad">{{entidad.nombre}}</td>
							<td id="egresoFecha">{{egreso.fecha}}</td>
							<td id="egresoPrecio">{{egreso.precioTotal}}</td>
							<td><a href="/egreso/{{egreso.id}}" class="btn btn-outline-primary">Modificar</a>
								<button class="btn btn-outline-primary" onclick="borrarEgreso('1');">Eliminar</button>
							</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function borrarEgreso(codigo){
			var confirmaBorrado = confirm("Desea borrar el egreso" + codigo);
			if (confirmaBorrado == true) {
				alert('borrado');
			} else {
				alert('no borrado');
			}
		}

		function logout(){
			$.ajax({
				url: "/logout",
				type: "POST",
				success: function(result){
					location.replace("/login");
				}
			})
		}

		function filter(element) {
			var value = $(element).val();
			$('#tablaEgresos > tbody  > tr').each(tr => {
				var contains = false;
				tr.each(td => {
					if (td.text().search(value) > -1) {
						contains = true;
					}else{
						contains = false;
					}
				});
				if (contains) {
					$(this).show();
				}else{
					$(this).hide();
				}
			});
		}
	</script>
</body>
</html>