<!DOCTYPE html>
<html lang="es">
<head>

<title>GeSoc - Ingresos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link href="public/bootstrap.min.css" rel="stylesheet">
<link href="public/css/main.css" rel="stylesheet">
<link href="public/css/egresos.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="public/bootstrap.min.js"></script>

</head>
<body>
	<div class="container top">
		<div class="row main">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/egreso">Egresos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/ingreso">Ingresos <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/presupuesto">Presupuesto</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/vinculador">Vinculador</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login" onclick="logout()">Logout</a>
							</li>
						</ul>
					</div>
				</nav>
				<br>
				<h1>GeSoc</h1>
				<br>
				<h2>Ingresos</h2>
				<div class="float-right">
					<input placeholder="buscar ingreso" type="text" id="myInput" onkeyup="myFunction()" />
				</div>
				<table id="myTable" class="table">
					<thead>
						<tr>
							<th>Ingreso</th>
							<th>Entidad</th>
							<th>Fecha</th>
							<th>Monto</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{{#each ingresos}}
						<tr id="{{ingreso.id}}">
							<td>{{ingreso.descripcion}}</td>
							<td>{{entidad.nombre}}</td>
							<td>{{ingreso.fecha}}</td>
							<td>{{ingreso.montoTotal}}</td>
							<td><a href="/ingreso/{{ingreso.id}}" class="btn btn-outline-primary">Modificar</a>
							</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						{{#each pages}}
						<li class="page-item"><a class="page-link" href="/ingreso?page={{.}}">{{.}}</a></li>
						{{/each}}
					</ul>
				</nav>
			</div>
		</div>
		<div class="sidenav">
			<a>filtrar por categoria</a>
			<select class="form-control" id="filtroCategoria" name="filtroCategoria" >
			</select>
			<button class="btn btn-outline-primary" onclick="filtrarIngreso()">Filtrar</button>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			cargarCategorias();
		})

		function logout(){
			$.ajax({
				url: "/logout",
				type: "POST",
				success: function(result){
					location.replace("/login");
				}
			})
		}

		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}

		function filtrarIngreso(){
			selectedElement = document.getElementById("filtroCategoria");
			filtro = selectedElement.options[selectedElement.selectedIndex].value ;
			$.ajax({
				url: "/ingreso/filtrar/",
				data: {
					categoria: filtro
				},
				type: "GET",
				success: function(result){
					json = JSON.parse(result);
					ids = json.map(e => e.ingreso.id.toString())
					table = document.getElementById("myTable");
					tr = table.getElementsByTagName("tr");
					for (i = 1; i < tr.length ; i++) {
						if (ids.includes(tr[i].id)) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			})
		}

		function cargarCategorias(){
			var select = document.getElementById("filtroCategoria");
			var categ = {{{categorias}}};
			var hijos;
			var i, j;
			for(i = 0; i < categ.length; i++){
				var optgroup = select.appendChild(document.createElement("optgroup"));
				optgroup.label = categ[i].nombre;

				var listaHijos = categ[i].categorias;
				for(j = 0; j < listaHijos.length; j++){
					var option = select.appendChild(document.createElement("option"));
					option.value = listaHijos[j].nombre;
					option.textContent = listaHijos[j].nombre;

					if(listaHijos[j].criterioHijo){
						var nivelHijo = 0;
						loopCategorias(select,listaHijos[j].criterioHijo.categorias,nivelHijo);
					}
				}
			}
		}

		function loopCategorias(select, hijos, nivelHijo){
			var i;
			var cantTabs = TAB;
			for (i = 0; i < nivelHijo; i++){
				cantTabs = cantTabs + TAB;
			}
			for(i = 0; i < hijos.length; i++){
				var option = select.appendChild(document.createElement("option"));
				option.value = hijos[i].nombre;
				option.textContent = cantTabs + hijos[i].nombre;

				if(hijos[i].criterioHijo){
					loopCategorias(select,hijos[i].criterioHijo.categorias,nivelHijo-1);
				}
			}
		}

	</script>
</body>
</html>