<!DOCTYPE html>
<html lang="es">
<head>

<title>GeSoc</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link href="public/bootstrap.min.css" rel="stylesheet">
<link href="public/css/main.css" rel="stylesheet">
<link href="public/css/login.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="public/bootstrap.min.js"></script>

</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<h1>Bienvenido a GeSoc</h1>
	<br>
	<br>
	<br>
	<h3>Inicio de Sesión</h3>	
	<br>
	<div class="input-group mb-3 col-sm-5" id="campoUser">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="basic-addon1">Usuario</span>
		</div>
		<input type="text" id="user" class="form-control" placeholder="Ingrese su nombre de usuario.." aria-label="Username" aria-describedby="basic-addon1">
	  </div>

	<div class="input-group mb-3 col-sm-5" id="campoPass">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="basic-addon1">Contraseña</span>
		</div>
		<input type="password" id="pw" class="form-control" placeholder="Ingrese su contraseña.." aria-label="Password" aria-describedby="basic-addon1">
	  </div>

	  <br>
	  <div class="alert alert-danger" id="msjError" style="position: fixed; right: 44%; display: none;" role="alert">

	  </div>
	  <br> 

	<div id="botonIngresar">
		<button type="button" id="btnLogin" class="btn btn-outline-primary" onclick="login()">Ingresar</button>
	</div>

	<script type="text/javascript">
		function login(){
			var usuario = $("#user").val();
			var pass = $("#pw").val();

			if(pass != "" && usuario != ""){
				$("#msjError").hide();
				
				$.ajax({
					url: '/autenticacion',
					type: 'POST',
					data: {usuario: usuario, pass: pass},
					success: function(result){
						sessionStorage.setItem("usuario",usuario); // Lo guardo por las dudas
						console.log(result);
						$("#msjError").hide();

						/* Si me encuentro en otro path, me logueo y me redirigen a donde queria ir */
						if(location.pathname != "/login")
							location.replace(location.pathname);
						else
							location.replace("/home"); 
							
					},
					error: function(jqXHR, textStatus, errorThrown){
						$("#msjError").html("Credenciales incorrectas");
						$("#msjError").show();
					}
				});
			}
			else{
				$("#msjError").html("Campos imcompletos");
				$("#msjError").show();
			}
		}
	</script>

	

</body>
</html>