<!DOCTYPE html>
<html lang="es">
<head>

<title>GeSoc - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link href="public/bootstrap.min.css" rel="stylesheet">
<link href="public/css/main.css" rel="stylesheet">
<link href="public/css/home.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="public/bootstrap.min.js"></script>

</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<h1>Bienvenido a GeSoc</h1>
	<br>
	<br>
	<br>
	<h3>Inicio de Sesión</h3>	
	<br>
	<div class="input-group mb-3 col-sm-5" id="campoUser">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="basic-addon1">Usuario</span>
		</div>
		<input type="text" class="form-control" placeholder="Ingrese su nombre de usuario.." aria-label="Username" aria-describedby="basic-addon1">
	  </div>

	<div class="input-group mb-3 col-sm-5" id="campoPass">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="basic-addon1">Contraseña</span>
		</div>
		<input type="text" class="form-control" placeholder="Ingrese su contraseña.." aria-label="Password" aria-describedby="basic-addon1">
	  </div>

	<div id="botonIngresar">
		<button type="button" class="btn btn-outline-primary" onclick="alert('En desarrollo')">Ingresar</button>
	</div>

	<script type="text/javascript">
		function login(user, pass){
			
		}
	</script>
</body>
</html>