<!DOCTYPE html>
<html lang="es">
<head>

<title>GeSoc - Modificar Egreso</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<link href="../public/bootstrap.min.css" rel="stylesheet">
<link href="../public/css/main.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../public/bootstrap.min.js"></script>
<script src="../public/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/egreso">Egresos <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/ingreso">Ingresos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/presupuesto">Presupuesto</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/vinculador">Vinculador</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login" onclick="logout()">Logout</a>
							</li>
						</ul>
					</div>
				</nav>
				<br>
				<h1>GeSoc</h1>
				<br>
				<h2>Modificar Egreso</h2>
				<div class="row">
					<form method="post" action="/egreso/{{egreso.id}}" class="col-sm-12">
						<div class="form-group row">
							<label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text"
									   class="form-control" name="nombre" id="nombre"
									   value="{{egreso.nombre}}"
									   placeholder="Nombre" />
							</div>
						</div>
						<div class="form-group row">
							<label for="proveedor" class="col-sm-4 col-form-label">Proveedor</label>
							<div class="col-sm-8">
								<select class="form-control" id="proveedor" name="proveedor" onchange="cambiarItems();">
									{{#each proveedores}}
									<option value="{{nombre}}">{{nombre}}</option>
									{{/each}}
								</select>
								<script>
									var proveedor = document.getElementById("proveedor");
									var hijos = proveedor.children
									var i;
									for (i = 0; i < hijos.length; i++) {
  										if(hijos[i].value == "{{egreso.proveedor.nombre}}") {
    										hijos[i].selected = true;
    										break;
  										}
									}
								</script>
							</div>
						</div>
						<div class="form-group row">
							<label for="entidad" class="col-sm-4 col-form-label">Entidad</label>
							<div class="col-sm-8">
								<select class="form-control" id="entidad" name="entidad" >
									{{#each entidades}}
									<option value="{{nombre}}">{{nombre}}</option>
									{{/each}}
								</select>
								<script>
									var entidad = document.getElementById("entidad");
									var hijos = entidad.children
									var i;
									for (i = 0; i < hijos.length; i++) {
  										if(hijos[i].value == "{{nombreEntidad}}") {
    										hijos[i].selected = true;
    										break;
  										}
									}
								</script>
							</div>
						</div>
						<div class="form-group row">
							<label for="items" class="col-sm-4 col-form-label">Items</label>
							<div class="col-sm-8" >
								<a id="items" class="btn btn-outline-secondary" onclick="popupItems();">Agregar Items</a>
								<div id="divItems" class="form-popup" >
									<div>

									</div>
									<a id="cerrarItems" class="btn btn-outline-secondary" onclick="cerrarPopup();">Cerrar</a>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="medioDePago" class="col-sm-4 col-form-label">Medio de Pago</label>
							<div class="col-sm-8">
								<select class="form-control" id="medioDePago" name="medioDePago" >
									<option value="none" selected disabled hidden>Selecionar una opcion</option>
									{{#each mediosDePago}}
									<option value="{{identificador}}" selected>{{identificador}}</option>
									{{/each}}
								</select>
								<script>
									if("{{egreso.medioDePago.identificador}}" != ""){
										var medio = document.getElementById("medioDePago");
										var hijos = medio.children
										var i;
										for (i = 0; i < hijos.length; i++) {
  											if(hijos[i].value == "{{egreso.medioDePago.identificador}}") {
    											hijos[i].selected = true;
    											break;
  											}
										}
									}
								</script>
							</div>
						</div>
						<div class="form-group row">
							<label for="categorias" class="col-sm-4 col-form-label">Categorias</label>
							<div class="col-sm-8">
								<select class="form-control" id="categorias" name="categorias" multiple="multiple">
									{{#each categorias}}
										<optgroup label="{{nombre}}"></optgroup>
										{{#each categorias}}
										<option value="{{nombre}}">{{nombre}}</option>
										{{/each}}
									{{/each}}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="fecha" class="col-sm-4 col-form-label">Fecha</label>
							<div class="col-sm-8">
								<input type="date"
								   class="form-control" name="fecha" id="fecha"
								   value="{{egreso.fecha}}"/>
							</div>
						</div>
						<a href="/egreso" class="btn btn-default">Cancelar</a>
						<button type="submit" class="btn btn-default">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#categorias').multiselect();
			var categEgreso = {{{categoriasEgreso}}}
            var i;
			if(categEgreso.length > 0){
                for (i = 0; i < categEgreso.length; i++) {
                    $('#categorias').multiselect('select', categEgreso[i]);
                }
            }

			cambiarItems();

			//Items que ya tiene el egreso
			var itemsEgreso = new Array();
			{{#each egreso.items}}
				var item = new Array();
				item.push("{{{itemEgreso.descripcion}}}");
				item.push("{{{cantidad}}}");

				itemsEgreso.push(item);
			{{/each}}

			for(i = 0; i < itemsEgreso.length; i++){
				var inputItem = document.getElementById(itemsEgreso[i][0]);
				inputItem.value = itemsEgreso[i][1];
			}
		})

		function borrarEgreso(codigo){
			var confirmaBorrado = confirm("Desea borrar el egreso" + codigo);
			if (confirmaBorrado == true) {
				alert('borrado');
			} else {
				alert('no borrado');
			}
		}
		function logout(){
			$.ajax({
				url: "/logout",
				type: "POST",
				success: function(result){
					location.replace("/login");
				}
			})
		}

//Cambiar items segun el proveedor
		var proveedores = new Array();
		{{#each proveedores}}
			var nombres = new Array();
			nombres.push("{{{nombre}}}");
			{{#each items}}
				nombres.push("{{{descripcion}}}");
			{{/each}}
			proveedores.push(nombres);
		{{/each}}

		function cambiarItems(){
			var selected = document.getElementById("proveedor").value;
			var divItems = document.getElementById("divItems");
			var listaItems = divItems.children[0];
			listaItems.querySelectorAll('*').forEach(n => n.remove());
			var proveedor = proveedores.find((x) => x[0] === selected);
			var i;

			for(i = 1; i < proveedor.length; i++){
			//creacion de option tag en select tag
				var div = listaItems.appendChild(document.createElement("div"));
				var labelItem = div.appendChild(document.createElement("label"));
				var inputItem = div.appendChild(document.createElement("input"));

				labelItem.for = proveedor[i];
				labelItem.textContent = proveedor[i];
				inputItem.type = "number";
				inputItem.id = proveedor[i];
				inputItem.name = proveedor[i];
				inputItem.min = 0;
				inputItem.value = 0;

			}
		}

		function popupItems(){
			var divItems = document.getElementById("divItems").children[0];
			if(divItems.children.length > 0){
				document.getElementById("divItems").style.display = "block";
			}
		}

		function cerrarPopup(){
			document.getElementById("divItems").style.display = "none";
		}

	</script>
</body>
</html>